  
  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 30px;
    color:white;


  }
  
  .dropdown-toggler {
    width: 140px;
    background:transparent;
    font-size: 30px;
    cursor: pointer;
    color:white;
  }
  
  .dropdown-toggler:active {
    opacity: 1;
  }
  
  .dropdown-menu {
    z-index: 2;
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    text-align: left;
  }
  
  .dropdown-menu-item {
    z-index: 4;
      position:relative;
    width: 250px;
    background: #f7f7f7;
 opacity: 1;
    padding: 2px 6px;
    color:black;
    outline: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown-menu-item:active {
    opacity: 0.5;
  }
  